<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>영화 예매페이지</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/css/css/seat-style.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
        <script type="text/javascript" src="../static/js/jquery.js"></script>
        <script type="text/javascript" src="../static/js/btn.js"></script>
        <script type="text/javascript" src="../static/js/img-gallery.js"></script>
        <script type="text/javascript" src="../static/js/seat.js"></script>
        <script type="text/javascript" src="../static/js/common.js"></script>
        </head>
    <body>
        <!-- 상단 배너 영역-->
        <div class="banner-wrapper">
            <div class="btn_close"></div>
            <img class="banner-ad" th:src="@{/img/banner/banner-top.jpg}"/>
        </div>
        
        <!--헤더 시작-->
        <header>
            <nav>
                <div class="clearfix">
                    <ul class="submenu-wrapper">
                        <li class="submenu"><a th:href="@{/ku_cinema/login}">로그인</a></li>
                        <li class="submenu"><a th:href="@{/ku_cinema/signup}">회원가입</a></li>
                        <li class="submenu">고객센터</li>
                    </ul>
                </div>
            </nav>
            <span id="validation" style="opacity: 0; position: absolute;">true</span>
            <h1>cinema ku</h1>
            
            <ul class="mainmenu-wrapper">
                <li class="mainmenu">영화</li>
                <li class="mainmenu">예매</li>
                <li class="mainmenu">극장</li>
            </ul>
        </header>
        <!--헤더 끝-->
        
        <!--컨텐츠영역 시작-->
        <section class="reservation-area clearfix">
            <div class="movie-list col-3">
                <h4 class="division-title">영화</h4>
                <ul>
                    <li class="movie__list"><img src="../static/img/icon/all.png">알라딘</li>
                    <li class="movie__list"><img src="../static/img/icon/all.png">토이스토리4</li>
                    <li class="movie__list"><img src="../static/img/icon/15.png">롱리브더킹-목포영웅</li>
                    <li class="movie__list"><img src="../static/img/icon/15.png">기생충</li>
                    <li class="movie__list"><img src="../static/img/icon/18.png">존윅3-파라벨룸</li>
                    <li class="movie__list"><img src="../static/img/icon/18.png">사탄의인형</li>
                    <li class="movie__list"><img src="../static/img/icon/12.png">어벤져스-엔드게임</li>
                    <li class="movie__list"><img src="../static/img/icon/12.png">맨인블랙-인터내셔널</li>
                    <li class="movie__list"><img src="../static/img/icon/all.png">천로역정-천국을찾아서</li>
                    <li class="movie__list"><img src="../static/img/icon/15.png">비스트</li>
                    <li class="movie__list"><img src="../static/img/icon/12.png">세상을바꾼변호인</li>
                    <li class="movie__list"><img src="../static/img/icon/all.png">이웃집토토로</li>
                    <li class="movie__list"><img src="../static/img/icon/15.png">애나벨집으로</li>
                    <li class="movie__list"><img src="../static/img/icon/12.png">칠드런액트</li>
                </ul>
            </div>
            <div class="theatre col-3">
                <h4 class="division-title">영화</h4>
                <ul>
                    <li class="movie__list"><img src="../static/img/icon/all.png">알라딘</li>
                    <li class="movie__list"><img src="../static/img/icon/all.png">토이스토리4</li>
                    <li class="movie__list"><img src="../static/img/icon/15.png">롱리브더킹-목포영웅</li>
                    <li class="movie__list"><img src="../static/img/icon/15.png">기생충</li>
                    <li class="movie__list"><img src="../static/img/icon/18.png">존윅3-파라벨룸</li>
                    <li class="movie__list"><img src="../static/img/icon/18.png">사탄의인형</li>
                    <li class="movie__list"><img src="../static/img/icon/12.png">어벤져스-엔드게임</li>
                    <li class="movie__list"><img src="../static/img/icon/12.png">맨인블랙-인터내셔널</li>
                    <li class="movie__list"><img src="../static/img/icon/all.png">천로역정-천국을찾아서</li>
                    <li class="movie__list"><img src="../static/img/icon/15.png">비스트</li>
                    <li class="movie__list"><img src="../static/img/icon/12.png">세상을바꾼변호인</li>
                    <li class="movie__list"><img src="../static/img/icon/all.png">이웃집토토로</li>
                    <li class="movie__list"><img src="../static/img/icon/15.png">애나벨집으로</li>
                    <li class="movie__list"><img src="../static/img/icon/12.png">칠드런액트</li>
                </ul>
            </div>
            <div class="date col-3" style="width: 10%;"></div>
            <div class="timetable col-3" style="width: 40%;"></div>
        </section>
        <!--컨텐츠영역 끝-->
        
        
        <!--풋터 시작-->
        <footer>
            <div class="footer-content">
                CINEMA KU<br>
                (05029) 서울시 광진구 능동로 120 건국대학교 TEL. 02-450-3114<br>
                COPYRIGHT OSSP1 CINEMA KU. ALL RIGHT RESERVED.
            </div>
        </footer>
        <!--풋터 끝-->
    </body>
</html>