<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>영화 예매페이지</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/css/seat-style.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
        <script type="text/javascript" src="../static/js/jquery.js"></script>
        <script type="text/javascript" src="../static/js/btn.js"></script>
        <script type="text/javascript" src="../static/js/img-gallery.js"></script>
        <script type="text/javascript" src="../static/js/seat.js"></script>
        <script type="text/javascript" src="../static/js/common.js"></script>
        </head>
    <body>
        <!-- 상단 배너 영역-->
        <div class="banner-wrapper">
            <div class="btn_close"></div>
            <img class="banner-ad" th:src="@{/img/banner/banner-top.jpg}"/>
        </div>
        
        <!--헤더 시작-->
        <header>
            <nav>
                <div class="clearfix">
                    <ul class="submenu-wrapper">
                        <li class="submenu"><a th:href="@{/ku_cinema/login}">로그인</a></li>
                        <li class="submenu"><a th:href="@{/ku_cinema/signup}">회원가입</a></li>
                        <li class="submenu">고객센터</li>
                    </ul>
                </div>
            </nav>
            <span id="validation" style="opacity: 0; position: absolute;">true</span>
            <h1>cinema ku</h1>
            
            <ul class="mainmenu-wrapper">
                <li class="mainmenu">영화</li>
                <li class="mainmenu">예매</li>
                <li class="mainmenu">극장</li>
            </ul>
        </header>
        <!--헤더 끝-->
        
        <!--컨텐츠영역 시작-->
        <section class="clearfix">
        <div class="reservation-area">
            <div class="movie-list col-3">
                <h4 class="division-title">영화</h4>
                <ul>
                    <li class="movie__list" id="all">알라딘</li>
                    <li class="movie__list" id="all">토이스토리4</li>
                    <li class="movie__list" id="15">롱리브더킹-목포영웅</li>
                    <li class="movie__list" id="15">기생충</li>
                    <li class="movie__list" id="18">존윅3-파라벨룸</li>
                    <li class="movie__list" id="18">사탄의인형</li>
                    <li class="movie__list" id="12">어벤져스-엔드게임</li>
                    <li class="movie__list" id="12">맨인블랙-인터내셔널</li>
                    <li class="movie__list"  id="all">천로역정-천국을찾아서</li>
                    <li class="movie__list" id="15">비스트</li>
                    <li class="movie__list" id="12">세상을바꾼변호인</li>
                    <li class="movie__list" id="all">이웃집토토로</li>
                    <li class="movie__list" id="15">애나벨집으로</li>
                    <li class="movie__list" id="12">칠드런액트</li>
                </ul>
            </div>
            <div class="theatre col-3">
                <h4 class="division-title">극장</h4>
                <ol>
                    <li class="th__list">강남</li>
                    <li class="th__list">강변</li>
                    <li class="th__list">건대입구</li>
                    <li class="th__list">구로</li>
                    <li class="th__list">대학로</li>
                    <li class="th__list">동대문</li>
                    <li class="th__list">등촌</li>
                    <li class="th__list">명동</li>
                    <li class="th__list">목동</li>
                    <li class="th__list">미아</li>
                    <li class="th__list">불광</li>
                    <li class="th__list">상봉</li>
                    <li class="th__list">성신여대입구</li>
                    <li class="th__list">송파</li>
                    <li class="th__list">수유</li>
                    <li class="th__list">신촌아트레온</li>
                    <li class="th__list">압구정</li>
                    <li class="th__list">여의도</li>
                    <li class="th__list">영등포</li>
                    <li class="th__list">왕십리</li>
                    <li class="th__list">용산아이파크몰</li>
                    <li class="th__list">중계</li>
                    <li class="th__list">천호</li>
                    <li class="th__list">청담씨네시티</li>
                    <li class="th__list">피카디리1958</li>
                    <li class="th__list">하계</li>
                    <li class="th__list">홍대</li>
                </ol>
            </div>
            <div class="date col-3" style="width: 100px;">
                <h4 class="division-title">날짜</h4>
                <ol class="date__list"></ol>
            </div>
            <div class="timetable col-3" style="width: 380px;">
                <h4 class="division-title">시간</h4>
                <ol>
                    <li class="time__icon"><img src="../static/img/icon/sun.png"><span>조조</span>
                    <img src="../static/img/icon/moon.png"><span>심야</span></li>
                    <li class="cine-info"><strong class="type">2D</strong><span class="cine-name">1관 3층</span></li>
                    <li class="time__list"><strong class="time" id="sun">10:25</strong><span class="rest-seat-num">127석</span></li>
                    <li class="cine-info"><strong class="type">2D</strong><span class="cine-name">2관 3층</span></li>
                    <li class="time__list"><strong class="time">12:15</strong><span class="rest-seat-num">138석</span></li>
                    <li class="time__list"><strong class="time">14:50</strong><span class="rest-seat-num">134석</span></li>
                    <li class="time__list"><strong class="time">17:25</strong><span class="rest-seat-num">123석</span></li>
                    <li class="time__list"><strong class="time">20:00</strong><span class="rest-seat-num">95석</span></li>
                    <li class="cine-info"><strong class="type">2D</strong><span class="cine-name">4관 4층</span></li>
                    <li class="time__list"><strong class="time" id="moon">21:00</strong><span class="rest-seat-num">138석</span></li>
                </ol>
            </div>
        </div>
            
        <div class="seatMap-wrapper" style="display: none;"></div>
        </section>
        
        <section>
            <div class="reservation-info clearfix">
                <div class="select-movie"></div><span class="border"></span>
                <div class="select-theater"></div><span class="border"></span>
                <div class="select-seat"></div><span class="border"></span>
                <div class="payment"></div>
                <div class="seat-page"><p>좌석선택<br>하러가기</p></div>
            </div>
        </section>
        <!--컨텐츠영역 끝-->
        
        
        <!--풋터 시작-->
        <footer>
            <div class="footer-content">
                CINEMA KU<br>
                (05029) 서울시 광진구 능동로 120 건국대학교 TEL. 02-450-3114<br>
                COPYRIGHT OSSP1 CINEMA KU. ALL RIGHT RESERVED.
            </div>
        </footer>
        <!--풋터 끝-->
    </body>
</html>