<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>SIGN UP PAGE</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
        <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/js/btn.js}"></script>
    </head>
    <body>
        
        <!--헤더 시작-->
        <header>
            <nav>
                <div class="clearfix">
                    <ul class="submenu-wrapper">
                        <li class="submenu">로그인</li>
                        <li class="submenu">회원가입</li>
                        <li class="submenu">고객센터</li>
                    </ul>
                </div>
            </nav>
            <span id="validation" style="opacity: 0; position: absolute;">true</span>
            <h1>cinema ku</h1>
            
            <ul class="mainmenu-wrapper">
                <li class="mainmenu">영화</li>
                <li class="mainmenu">예매</li>
                <li class="mainmenu">극장</li>
            </ul>
        </header>
        
        <section>
            <h2 class="section-title">회원가입</h2>
            <div class="float-label-form">
                <form class="signup-form" action="/ku_cinema/signsuccess" method="POST">
                    <div class="form-field">
                        <label for="id">아이디</label>
                        <input type="text" name="ID">
                        <input type="button" name="chk" value="중복확인">
                    </div>
                    <div class="form-field">
                        <label for="password">비밀번호</label>
                        <input type="password" name="PW">
                    </div>
                    <div class="form-field">
                        <label for="password">비밀번호확인</label>
                        <input type="password" name="PW">
                    </div>
                    <div class="form-field">
                        <label for="password">이름</label>
                        <input type="text" name="name">
                    </div>
                    <div class="form-field">
                        <label for="password">주소</label>
                        <input type="text" name="address">
                    </div>
                    <div class="form-field">
                        <label for="tel">핸드폰번호</label>
                        <div class="tel-wrapper">
                            <input type="tel" name="tel-front">
                            <input type="tel" name="tel-middle">
                            <input type="tel" name="tel-back">
                        </div>
                    </div>
                    <div class="form-field clearfix">
                        <input class="signup-btn" type="submit" name="signup" value="회원가입">
                    </div>
                </form>
            </div>
        </section>
        
        <footer>
            <div class="footer-content">
                CINEMA KU<br>
                (05029) 서울시 광진구 능동로 120 건국대학교 TEL. 02-450-3114<br>
                COPYRIGHT OSSP1 CINEMA KU. ALL RIGHT RESERVED.
            </div>
        </footer>
        <!--풋터 끝-->
    </body>
</html>