.seat {cursor: pointer;}
.seat p {
    display: inline-block;
    width: 50px;
    height : 20px;
    border: 1px solid #3d3d3d;
    text-align: center;
    padding: 10px 0; 
    margin: 3px;
}

.seatMap-wrapper {
    background-color: antiquewhite;
    width: 1080px;
    margin: 0 auto;
    padding: 50px 0;
}
.seatMap {
    margin: 0 auto;
}
#span p {margin-right: 40px;}
.hoverColor {background-color: #e5e5e5;}
.selectColor {background-color: cornflowerblue;}