* {
    padding: 0;
    margin: 0;
    border: 0;
}

li {list-style: none;}
a {text-decoration: none;}
img {width: 100%;}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    min-width: 1200px;
}

.col-3 {
    width: 300px;
    float: left;
}

/*--------------HEADER 시작-------------*/

[class*="menu"] {
    cursor: pointer;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

.submenu-wrapper {
    float: right;
    margin-top: 8px;
    margin-right: 16px;
}

.submenu {
    display: inline-block;
    margin-right: 8px;
    font-size: 0.8em;
}

.submenu a {color: #333;
}
.submenu:last-child {margin-right: 0;}

h1 {
    text-align: center;
    margin-bottom: 8px;
    font-family: 'Abril Fatface', cursive;
    font-size: 28px;
}

.mainmenu-wrapper {
    text-align: center;
    padding: 8px 0;
    background-color: #688F4E;
    cursor: default;
}
.mainmenu {
    display: inline-block;
    margin-right: 40px;
}
.mainmenu:last-child {margin-right: 0;}


/*--------------HEADER 끝-------------*/

/*-----------배너광고영역 시작----------*/

.banner-wrapper {background-color: #041450;}
.banner-ad {
    display: block;
    margin: 0 auto;
    max-width: 980px;
}
.btn_close {
    cursor: pointer;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 2%;
    right: 2%;
    background: url("../img/icon/banner-close.png");
    border: 0;
    transition: all 1s;
}

@media(min-width:1280px) {
    .btn_close {
        right: 10%;
    }
}

/*-----------배너광고영역 끝----------*/

/*-----------컨텐츠영역 시작----------*/

/*이미지갤러리영역*/
/* 메인 슬라이드 */
.sm_mv .sm_mv_slide {
    position: relative;
    text-align: center;
    height: 525px;
}
.sm_mv .sm_mv_slide dt {
    position: relative;
    top: 495px;
    z-index: 2;
    display: inline-block;
    text-align: center;
}
.sm_mv .sm_mv_slide dt .on {
    background: url(http://image2.megabox.co.kr/mop/home/main/pn3_on.png) 0 0 no-repeat;
}

dt {
    font-weight: bold;
}
dt, dd {
    line-height: 1.428571429;
}

.sm_mv .sm_mv_slide dt span {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-indent: -999px;
    overflow: hidden;
    background: url(http://image2.megabox.co.kr/mop/home/main/pn3.png) 0 0 no-repeat;
    margin-right: 3px;
}
.sm_mv .sm_mv_slide dd {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 525px;
    text-align: left;
    display : none;
    
}
dd {
    margin-left: 0;
}
.sm_mv .sm_mv_slide dd a.sm_mv_detail {
    z-index: 1;
    position: absolute;
    display: block;
    width: 100%;
    height: 525px;
    text-decoration: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.68) 0%, rgba(11, 8, 7, 0.46) 8%, rgba(23, 17, 15, 0.21) 17%, rgba(39, 30, 26, 0) 29%, rgba(132, 105, 91, 0) 100%);
}
.sm_mv .sm_mv_slide dd a.sm_mv_detail .sm_mv_text {
    display: block;
    position: relative;
    width: 970px;
    margin: 0 auto;
    top: 90px;
    letter-spacing: -1px;
    text-shadow: 1px 1px 1px #000000;
    line-height: 36px;
}
.sm_mv .sm_mv_slide dd a.sm_mv_detail .sm_mv_text strong {
    font-size: 36px;
    color: #fff;
    font-weight: 400;
    display: block;
    padding-top: 2px;
    padding-bottom: 19px;
    background: url(http://image2.megabox.co.kr/mop/home/main/h2_bg.png) 0 100% no-repeat;
}
.sm_mv .sm_mv_slide dd a.sm_mv_detail .sm_mv_text span {
    display: inline-block;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}
.sm_mv .sm_mv_slide dd div.sm_mv_bg {
    height: 525px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: repeat;
    overflow: hidden;
    background-size: cover;
}

#stp_btn {
    width: 16px;
    position: relative;
    top: -3px;
}


/*박스오피스영역*/

.movie-chart {
    margin: 0 auto;
}

.redirect {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #333;
    text-decoration: underline;
    padding-right: 3%;
}

.section-title {
    font-size: 32px;
    margin: 32px 16%;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 3px solid;
}

.movie-detail .section-title {
    margin: 32px auto;
}

.content-wrapper {
    width: 100%;
    box-sizing: border-box;
}

.movie-content {
    margin: 0 auto;
    padding: 2%;
    box-sizing: border-box;
    float: left;
    width: 100%;
    transition: all 1s;
}

.movie-thumb {width: 100%;}


.icon-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 5%;
}

.info-section .icon-wrapper {
    margin-top: 24px;
    margin-left: 12px;
    padding: 0;
}

.like-btn {
    cursor: pointer;
    width: 25px;
    margin-right: 5%;
    margin-left: 30%;
}

.info-section .like-btn {
    margin-left: 0;
    margin-right: 5%;
    width: 30px;
}

.ticket-btn {
    width: 90px;
    height: 25px;
    cursor: pointer;
    background-image: url("../img/icon/reserve_btn.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.info-section .ticket-btn {
    width: 90px;
    height: 35px;
}

.movie-age {
    width: 21px;
    height: 21px;
    float: left;
    margin-right: 5px;
}

.movie-info {
    display: flex;
    align-items: center;
    padding: 8px;
}

/*-----------영화상세페이지----------*/

.movie-detail {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 5%;
    padding-bottom: 5%;
}

.img-section {
    width: 100%;
    transition: all 0.7s;
}

.info-section {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    padding-left: 3%;
    padding-top: 3%;
    font-size: 15px;
    transition: all 1s;
}
.movie-title {
    font-size: 24px;
    margin-bottom: 8px;
}

@media(min-width: 380px) {
    .img-section {
        width: 50%;
        float: left;
    }

    .info-section {
        float: left;
        width: 50%;
    }
}

@media(min-width: 768px) {
    .img-section {
        width: 30%;
        float: left;
    }

    .info-section {
        float: left;
        width: 70%;
    }
}

.info-section span {
    color: #616161;
    margin: 0 8px;
}

#rateYo {margin-left: 4px;}

/* 댓글창 */

.popup_box {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
}

.popup_box h3 {margin-bottom: 16px;}
.input {
    width: 90%;
    display: inline-block;
    float: left;
    box-sizing: border-box;
	overflow: hidden;
    border: 1px solid #e1e1e1;
}

.textarea {width: 100%;}

textarea {
    height: 56px;
    font-size: 14px;
    border: none;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    background-color: #fff;
	display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.btn_wrap {
    display: inline-block;
    width: 10%;
	height: 58px;
}

.comment_btn {
    cursor: pointer;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-position: -600px -100px;
    font-size : 18px;
    font-weight : bold;
    text-decoration: none;
    background-color : #417FF2;
    color : #fff;
}
.list .item {
	width: 100%;
    height: 100%;
    clear: both;
    overflow: hidden;
}

.list .item > li:first-child {
   	border-top: 1px solid #f0f0f0;
}
.list .item > li {
    overflow: hidden;
    padding: 0 10px 20px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}

.list .item .photo_profile {
    width: 55px;
    padding-top: 23px;
    margin-right: 16px;
}
.list .item > li > div {
    float: left;
}

.list .item .text {
    width: 85%;
    padding-top: 23px;
}

.photo_profile > img {
    position: relative;
    width: 100%;
    display: block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.list .item .text > p {
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.comment {
	margin-right : 15px;	
}

/*예매 화면*/

.division-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #ddd;
    padding: 8px 0;
}

section {
    background-color: #222;
    width: 100%;
}

.reservation-area {
    width: 1080px;
    height: 486px;
    margin: 0 auto;
}

.reservation-area > div {
    box-sizing: border-box;
    height: 100%;
    background-color: antiquewhite;
    border: 1px solid #bbb;
    border-bottom: 0;
    border-top: 0;
}

.reservation-area > div:first-child {border-left: 0;}
.reservation-area > div:last-child {border-right: 0;}

.reservation-area ul, .reservation-area ol {
    margin: 8px;
    height: 430px;
    overflow: scroll;
}

.reservation-area ol {
    padding: 0 12px;
}

.movie-list li, .theatre li {
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size: 14px;
    cursor: pointer;
}

.reservation-area li img {
    width: 20px;
    margin: 0 8px;
}

.reservation-area .th__list {
    padding-left: 16px;
}

.back-blk {
    background-color: #333;
    color: #fff;
}

.year {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}
.month {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 0.9;
    margin-bottom: 8px;
}

.date ol {
    padding: 0;
    font-size: 14px;
}

.date__list li {
    margin: 0 4px;
    padding: 8px;
    cursor: pointer;
}

.dayweek {
    font-size: 14px;
    font-weight: 300;
}
.day {
    margin-left: 25%;
    font-weight: 600;
}

.timetable ol {
    text-align: left;
    font-size: 14px;
}
.time__icon {
    font-size: 12px;
    display: flex;
    align-items: center;
}
.timetable li img {
    margin: 0 2px;
    width: 16px;
}

.time__list {
    display: inline-flex;
    align-items: center;
    margin: 8px 0 0;
    width: 110px;
    cursor: pointer;
}

.time {
    display: inline-flex;
    padding: 4px;
    border: 1px solid #bbb;
    margin: 0 4px;
}

.cine-info {
    padding-top: 8px;
    border-top: 2px solid #bbb;
    margin-top: 8px;
}
.type {margin-right: 8px;}

.rest-seat-num {
    font-size: 12px;
    color: #3d7c35;
}

/*좌석선택*/
.seat {cursor: pointer;}
.seat p {
    display: inline-block;
    width: 40px;
    height : 20px;
    border: 1px solid #3d3d3d;
    text-align: center;
    padding: 10px 0; 
    margin: 3px;
}
#span p {margin-right: 40px;}
.hoverColor {background-color: #e5e5e5;}
.selectColor {background-color: cornflowerblue;}


/*예매정보*/
.reservation-info {
    height: 130px;
}

.reservation-info {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    color: #ccc;
}
.reservation-info > div {
    float: left;
    width: 200px;
    height: 100%;
    padding: 12px 0;
    box-sizing: border-box;
}

.reservation-info table {
    text-align: left;
    margin-top: 8px;
    margin-left: 8px;
}

.reservation-info th {
    padding-right: 8px;
    font-weight: 400;
}

.reservation-info td {font-weight: 600;}

.reservation-info p {
    display: inline-block;;
    margin-left: 8px;
    margin-top: 8px;
}

.select_thumb {
    width: 75px;
    float: left;
}

.select-seat {
    margin: 
}

.seat-page, .reservation-page, .payment-page {
    cursor: pointer;
    position: absolute;
    right: 0px;
    color: #ccc;
    padding: 20px 0;
    font-size: 16px;
}

.reservation-info .reservation-page {
    position: relative;
    width: 100px;
}

.seat-page p, .reservation-page p, .payment-page p {
    float: right;
    margin-right: 16px;
    box-sizing: border-box;
    padding: 16px 12px;
    border: 2px solid #ccc;
    border-radius: 20%;
}

.reservation-page p {
    margin: 0;
    margin-top: 8px;
    margin-right: 8px;
}

.border {
    margin-top: 30px;
    height: 50%;
    border: 2px solid #ccc;
    float: left;
}

.info-msg {
    display: inline-block;
    color: #ccc;
    font-size: 28px;
    text-align: center;
    margin-top: 28px;
    padding: 8px 30px 8px 50px;
}

.basis-btn {
    cursor: pointer;
    position: relative;
    left: 1050px;
    display: inline-block;
    padding: 4px 8px;
    margin: 8px;
    border: 2px solid #777;
    font-size: 12px;
}

.cnt_btn {
    cursor: pointer;
 	color: #fff;
    font-weight : bold;
    font-size : 20px;
    text-decoration: none;
    background-color : #417FF2;
    border : 0px;
    width: 20px;
    height: 20px;
    float : left;
    padding: 8px 12px 16px 12px;
    margin-left: 4px;
}

.bookingSelectSeatTicket {
    text-align: center;
	height: 62px;
    padding: 9px 20px 0 20px;
}

.bookingSelectSeatTicket label {
		position: relative;
	    float: left;
	    top: 10px;
	    width: 50px;
}



/*-----------컨텐츠영역 끝----------*/

/*-----------로그인영역 시작----------*/

.login-form {
    margin: 10% 5%;
}
.form-field {
    position: relative;
}
input+label {
    position: absolute;
    left: 8px;
    top: 4px;
    transition: transform 0.2s ease;
}

input:focus + label, input + label.freeze {
    font-size: 0.8em;
    font-weight: 400;
    transform: translateY(-2em);
}

.float-label-form {
    margin: 0 auto;
    max-width: 1200px;
    padding: 8% 0;
}

.form-field {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 1.2em;
}


.form-field:last-of-type {
    margin-bottom: 0;
}

input + label {
  color: #e5e5e5;
  font-size: 0.9em;
  font-weight: 300;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.signup-form input[type="text"], .signup-form input[type="password"] {
    width: 60%;
    position: absolute;
    right: 0;
}

input[name="chk"] {
    padding: 8px;
    cursor: pointer;
    position: absolute;
    right: -70px;
    border: 1px solid #e5e5e5;
    border-radius: 2%;
}
.tel-wrapper {
    display: inline;
    width: 60%;
    position: absolute;
    right: 0;
}

input[type="tel"] {
    width: 39px;
    padding: 8px;
    border: 1px solid #e5e5e5;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    font-size: inherit;
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    text-transform: uppercase;
    border: 1px solid #333;
    margin-bottom: 0;
    transition: all 200ms ease;
    width: 100px;
}

.signup-btn {
    float: right;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #333;
}

input:focus {
    outline: none;
    border: 1px solid blue;
}

.subtext-wrapper {
    width: 300px;
    margin: 24px auto;
    margin-top: -16px;
}
.subtext {
    font-size: 0.8em;
    float: left;
    margin-right: 8px;
    margin-top: 8px;
}

/*-----------회원가입 성공창---------*/

.success-signup {
    text-align: center;
    margin: 15%;
}

.success-signup p {
    padding-bottom: 16px;
}
.redirect-btn {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: #688F4E;
    padding-top: 6px;
    margin: 8px;
}

.redirect-btn a {color: #000;}

/*-----------풋터영역 시작----------*/
footer {background-color: #688F4E;}

footer {
    display: block;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    font-size: 0.8em;
    line-height: 1.4;
    margin: 0 10%;
    padding: 20px 0;
}
/*-----------풋터영역 끝----------*/